[class^="fa fa-"] {
    font-size: 24;
    color: rgb(255, 255, 255);
}

.logo {
    object-fit: none;
    /* Do not scale the image */
    object-position: center;
    /* Center the image within the element */
    max-width: 100%;
    height: 400px;
    position: relative;
}