[class^="fa fa-"] {
    font-size: 24;
    color: rgb(255, 255, 255);
}

.container {
    margin: 75px;
}

.item {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
}

body::-webkit-scrollbar-thumb {
    background: #000000;
}

#subtext {
    display: none;
}
